@mixin breakPoint($minWidth) {
  @media only screen and (min-width: $minWidth) {
    @content;
  }
}

@mixin desktop() {
  @include breakPoint(1441px) {
    @content;
  }
}

@mixin laptop() {
  @include breakPoint(1068px) {
    @content;
  }
}

@mixin tablet() {
  @include breakPoint(833px) {
    @content;
  }
}

@mixin mobile() {
  @include breakPoint(734px) {
    @content;
  }
}

@mixin container() {
  margin: 0 auto;
  max-width: 87.5%;


  @include tablet {
    & {
      max-width: 692px;
    }
  }

  @include laptop {
    & {
      max-width: 980px;
    }
  }

  @include desktop {
    & {
      max-width: 1208px;
    }
  }
}
