@import "mixins";

@mixin app-headline {
  font-size: 28px;
  line-height: 1.2858342857;
  font-weight: 700;
  letter-spacing: .007em;

  @include tablet {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0em;
  }

  @include laptop {
    font-size: 72px;
    line-height: 1.0555555556;
    letter-spacing: -0.012em;
  }

  @include desktop {
    font-size: 80px;
    line-height: 1.05;
    letter-spacing: -0.015em;
  }
}

@mixin body {
  font-size: 17px;
  line-height: 1.4705882353;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, sans-serif;
}

@mixin deviceName {
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 600;
  letter-spacing: .007em;

  @include tablet {
    font-size: 12px;
    line-height: 1.3333733333;
    letter-spacing: .007em;
  }

  @include laptop {
    font-size: 19px;
    line-height: 1.2105263158;
    letter-spacing: .012em;
  }
}

@mixin offerHeadline {
  font-size: 28px;
  line-height: 1.1428571429;
  font-weight: 600;
  letter-spacing: .007em;

  @include tablet {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0em;
  }


}

@mixin routerHeadline {
  font-size: 28px;
  line-height: 1.0714285714;
  letter-spacing: .012em;
  font-weight: 700;

  @include tablet {
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: .009em;
  }

  @include laptop {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0em;
  }

}

@mixin routerEyebrow {
  font-size: 19px;
  line-height: 1.2105263158;
  font-weight: 600;
  letter-spacing: .012em;

  @include laptop {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
  }
}

@mixin showEyebrow {
  font-size: 14px;
  line-height: 1.4285914286;
  font-weight: 600;
  letter-spacing: -0.016em;
  font-family: SF Pro Text, sans-serif;

  @include laptop {
    font-size: 17px;
    line-height: 1.4705882353;
    letter-spacing: -0.022em;
  }
  @include desktop {
    font-size: 21px;
    line-height: 1.1904761905;
    font-weight: 600;
    letter-spacing: .011em;
    font-family: SF Pro Display, "SF Pro Text", sans-serif;
  }
}