@import "mixins";
@import "tyopgraphy";

.carouselSection {
  background-color: #000;
  padding: 3rem 0;
  overflow-x: hidden;
}

$smallMovieWidth: 210px;
@include laptop {
  $smallMovieWidth: 378px;
}

$animationSpeed: 40s;

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-378px * 6));
  }
}

.infiniteCarousel {


  .wrapper {


    & > div {
      display: flex;
      width: calc(378px * 12);
      animation: slide 30s linear infinite;
    }

    .smallMovie {
      position: relative;
      border-radius: 10px;
      overflow: hidden;

      width: 210px;
      height: 118px;
      margin: 0 7px 14px;

      @include laptop {
        width: 378px;
        height: 212px;
        border-radius: 10px;
        margin: 0 10px 20px;
      }


      &:hover {
        .overlay {
          opacity: 1;

          span {
            transform: translateY(0);
          }
        }
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #00000066;
        opacity: 0;
        transition: opacity 300ms;
        display: grid;
        place-items: center;

        span {
          transition: transform 300ms ease-out;
          transform: translateY(15px);
        }
      }

      .imgContainer {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-900px * 5));
  }
}

.carouselWrapper {
  height: 2338px;
  margin-top: -137vh;

  & > div {
    position: sticky;
    top: 0;
    height: 100vh;
    min-height: 506px;

    .fullOverlay {
      width: 100%;
      height: 100%;
      background-color: #000000;
      transition: background-color 0.5s ease-out;
      place-items: center;
      z-index: 7;

      & > div {
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 7;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #fff;
        border-radius: 15px;

      }
    }

    & > div {
      position: absolute;
      bottom: 0;
      width: 100%;

      height: 494px;
      @include tablet {
        height: 321px;
      }
      @include laptop {

        height: 506px;
      }


      & > section {
        position: absolute;
        left: 50%;

        height: 100%;
        display: flex;
        transition: transform 0.5s ease;
        will-change: transform;

        transform: translateX(-50%);
        width: calc(278px * 5);

        @include tablet {
          width: calc(555px * 5);
        }
        @include laptop {
          width: calc(900px * 5);
        }


        .carouselItem {
          transform: scale(1) translateX(0%);
          transition: transform 0.5s ease;
          will-change: transform;

          background-repeat: no-repeat;
          background-size: auto 100%;
          background-position: center;
          margin: 0 10px 15px;
          color: #fff;
          border-radius: 15px;
          width: 278px;
          height: 494px;

          @include tablet {
            width: 555px;
            height: 321px;
          }
          @include laptop {
            width: 900px;
            height: 506px;
          }

          img {
            height: 30px;
            @include tablet {
              height: 40px;
            }
            @include laptop {

              height: 50px;
            }
          }
        }
      }
    }

    .movieTitle {
      max-width: 90%;
      margin: 6% auto;

      p {
        @include showEyebrow;
        margin-bottom: 10px;
      }
    }
  }


}