@import "mixins";
@import "tyopgraphy";
@import "colors";


.faqWrapper {
  @include container;

  padding: 15px 0px 84px;
  border-radius: 10px;
  background-color: #fff;


  h2 {
    @include app-headline;
    text-align: center;
    color: $heading;
    margin-bottom: 45px;

    @include laptop {
      margin-bottom: 52px;
    }
  }


  .title {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &:focus {
      outline: rgba(41, 151, 255, 0.8) solid 4px;
    }


    h4 {
      padding-right: 20px;
      font-size: 24px;
      line-height: 1.1666666667;
      font-weight: 600;
      letter-spacing: .009em;
      font-family: SF Pro Display, sans-serif;
    }

    svg {
      transition: all 0.3s ease;
    }

    .translated {
      transform: scaleY(-100%);
    }
  }

  hr {
    border: none;
    border-bottom: 1px solid #d2d2d7;
  }

  .answer {
    padding: 5px 0;
    @include body;
  }

  .collapsible {
    overflow: hidden;
    transition: height 0.24s ease-out;
    height: 0;
    white-space: pre-line;
    font-size: 13px;
  }

}