@import "/fonts/fonts.css";
@import "colors";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "SF Pro Text", "SF Pro Icons", Helvetica Neue, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul, ol {
  list-style-type: none;
}

.link {
  color: $linkColor;

  &:hover {
    text-decoration: underline;
  }
}

.link-light {
  color: $linkColorLight;
}


.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 22px;
}

.apple-nav {
  background-color: #555;
}

.icon:after {
  font-family: SF Pro Icons;
  color: inherit;
  display: inline-block;
  font-style: normal;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
  text-decoration: none;
  position: relative;
  z-index: 1;
  alt: "";
}

.more:after {
  content: "";
  padding-left: 0.3em;
}


.before-floatin {
  opacity: .001;
  transform: translateY(50px);
  transition: transform .6s, opacity .6s;
  will-change: opacity, transform;
}

.entered-floatin {
  opacity: .999;
  transform: translateY(0);
}
