@import "mixins";
@import "tyopgraphy";
@import "colors";

.heroSection {
  position: relative;
  margin-top: -96px;
  height: 100vh;


  .video_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    //height: calc(100% + 100vh + 20rem);
    height: 2512px;

    @include mobile {
      & {
        height: 2320px;

      }
    }
    @include tablet {
      & {
        height: 1877px;
      }
    }

    & > div {
      height: calc(100vh - 52px);
      width: 100%;
      position: sticky;
      top: 52px;
      left: 0;
      overflow: hidden;

      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
        opacity: 0.99;
      }

      .overlay {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: 0.001;
        z-index: 3;
      }

    }

    .content_wrapper {
      position: absolute;
      color: #fff;
      z-index: 3;
      height: 100vh;
      top: 0;

      & > div {
        @include container;
      }


      .main_content {
        position: absolute;
        bottom: 88px;
        pointer-events: auto;
        opacity: 0.999;

        @include desktop {
          & {
            bottom: 80px;
          }
        }

        h2 {
          font-size: 40px;
          line-height: 1.1;
          font-weight: 700;
          letter-spacing: 0em;
          font-family: SF Pro Display, sans-serif;


          @include tablet {
            font-size: 80px;
            line-height: 1.05;
            font-weight: 700;
            letter-spacing: -0.015em;
          }
          @include desktop {
            & {
              font-size: 96px;
              line-height: 1.0416666667;
              font-weight: 700;
              letter-spacing: -0.015em;
            }
          }
        }


        .cta_section {
          margin-top: 0.9em;

          a {
            background-color: #fff;
            border-radius: 100px;
            padding: 18px 31px;
            color: #1d1d1f;
            font-weight: 700;
            margin-top: 27px;
            display: inline-block;

            &:hover {
              opacity: 0.8;
            }
          }
        }

        .cta_desc {
          margin-top: 52px;
          display: flex;
          align-items: center;
          gap: 3.5px;
          font-size: 19px;
          line-height: 1.2105263158;
          font-weight: 600;
          letter-spacing: .012em;
          font-family: SF Pro Display, sans-serif;

          @include laptop {
            & {
              margin-top: 62px;
            }
          }
          @include desktop {
            & {
              margin-top: 170px;
            }
          }


        }

      }

      .videoControl {
        position: fixed;
        bottom: 36px;
        right: 42px;
        transition: opacity .6s;
        opacity: 0.999;

        button {
          background-color: transparent;
          border: none;
        }
      }
    }


  }


}


.valueSection {
  position: relative;
  z-index: 4;


  & > div {
    @include container;
    padding: 0 0 150px;

    ul {
      list-style-type: none;
      color: #fff;
      font-family: SF Pro Display, sans-serif;

      font-size: 28px;
      line-height: 1.2858342857;
      font-weight: 700;
      letter-spacing: .007em;

      @include tablet {
        font-size: 40px;
        line-height: 1.1;
        letter-spacing: 0em;
      }
      @include laptop {
        font-size: 48px;
        line-height: 1.0834933333;
        letter-spacing: -0.003em;
      }
      @include desktop {
        font-size: 64px;
        line-height: 1.0625;
        letter-spacing: -0.009em;
      }

      li {
        margin-top: 50px;
      }

      li:first-child {
        margin-top: 0;
      }

    }
  }
}

.pricingSection {
  & > div {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 175px;
    @include container;
  }
}


.tvAppSection {
  min-height: 50vh;

  .tvAppHeader {
    text-align: center;
    padding-top: 130px;
    margin: 0 auto;
    padding-bottom: 52px;

    h2 {
      @include app-headline;
      color: $heading;
      margin-top: 17px;
    }

    p {
      margin-top: 20px;
      margin-bottom: 18px;

      @include body;

      a {
        color: $linkColor;
      }
    }
  }

  .deviceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 67px;

    & > div {
      text-align: center;

      .deviceWrapper {


        img {

        }
      }

      h3 {
        margin-top: 17px;
        color: $heading;


      }
    }
  }


}