@import "mixins";
@import "colors";
@import "tyopgraphy";

.appleService {
  max-width: 1360px;
  margin: 0 auto;

  .service1 {
    background-color: $serviceBg;
    padding-top: 20px;
    display: flex;
    margin: 0 auto;

    flex-direction: column-reverse;
    align-items: center;
    width: 100%;

    @include tablet {
      flex-direction: row;
      max-width: 733px;

      & > img {
        height: 172px;
      }
    }
    @include laptop {
      & > img {
        height: 330px;
      }
    }

    & > img {
      margin-top: 42px;
      margin-bottom: 77px;
      margin-left: 30px;
      width: 299px;
    }

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding-right: 4%;

      p {
        @include routerHeadline;
        text-align: center;
        margin-top: 27px;
        margin-bottom: 13px;

        @include laptop {
          max-width: 700px;

        }
      }

      a.link {
        margin-top: 20px;
        margin-bottom: 29px;
        background-color: #1d1d1f;

        &:hover {
          opacity: 0.9;
        }
      }


    }
  }
}

.link {

  display: inline-block;
  text-align: center;
  white-space: nowrap;
  border-radius: 980px;
  background: #0071e3;
  min-width: 26px;
  padding: 12px 22px;
  font-size: 14px;
  line-height: 1.4285914286;
  letter-spacing: -0.016em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}